.category-card {
    background-color: var(--secondary-color);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover{
    transform: translateY(-5px); /* Efecto de "flotar" al pasar el mouse */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

    h2{
        a{
         color: var(--primary-color);
         text-decoration: none;
         transition: color 0.3s ease;

         &:hover{
            color: var(--highlight-color);
         }
        }
    }
}

.container-product-grid
{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(20rem,1fr));
    gap:5rem;
    grid-auto-flow: column wrap;//para darle la direcccion y este envuelto
    margin: 3rem;
}

.product-card{
    max-width: 380px;//solo va a llegar hasta este ancho
    padding: 2rem;//margen interno
    background-color: $border-color;
    border-radius: 20px;
    box-shadow: 20px 26px 72px 9px rgba(101,73,73,0.79);
-webkit-box-shadow: 20px 26px 72px 9px rgba(101,73,73,0.79);
-moz-box-shadow: 20px 26px 72px 9px rgba(101,73,73,0.79);

img{
    width: 100%//como mucho va a tener 380px
}

.descrpción{
    margin-top: 2rem;
    font-size: smaller;
}

.card-footer{
    display: flex;
    margin-top: 2rem;
    justify-content: space-around;
    
}

}

.product-container {
    display: flex;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    padding: 20px;
}

.product-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.product-image {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.product-details {
    flex: 1;
    padding: 20px;
}

.company-name {
    color: #ff7d1a;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.product-title {
    font-size: 24px;
    margin-top: 10px;
    color: #333;
}

.product-description {
    font-size: 16px;
    margin-top: 10px;
    color: #6c6c6c;
}

.product-pricing {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.current-price {
    font-size: 24px;
    font-weight: bold;
    color: #ff7d1a;
}

.product-quantity {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.quantity-decrease, .quantity-increase {
    background-color: #f3f3f3;
    border: none;
    padding: 8px 16px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.add-to-cart-btn {
    background-color: #ff7d1a;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
    background-color: #ff5400;
}
